<%= form_for(@jobresult) do |f| %>
  <% if @jobresult.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobresult.errors.count, "error") %> prohibited this jobresult from being saved:</h2>

      <ul>
      <% @jobresult.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
