<h1>Your Search Results</h1>

<style type="text/css">
    .leftMenu {  }
</style>


<div class="mainContent">
    <div class="leftMenu">
       <div></div>
    </div>

    <div class="jobList">
    <% unless @jobresults.blank? %>

        <% if @jobresults.ResponseJobSearch.TotalCount == 0 %>
            no jobs found for your search criteria
        <% else %>

            <% @jobresults.ResponseJobSearch.Results.JobSearchResult.each do |result| %>
                <div class="resultItem">
                  <br>
                  <h4><%= link_to result.JobTitle, jobdetailview_path(:jobDID => result.DID) %></h4>
                  <br>
                  Descripion : <%= result.DescriptionTeaser %>
                  <br><br>
                  <hr>
                </div>
            <% end %>

        <% end %>
    <% end %>
    </div>

</div>