<%= form_for(@jobdetail) do |f| %>
  <% if @jobdetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobdetail.errors.count, "error") %> prohibited this jobdetail from being saved:</h2>

      <ul>
      <% @jobdetail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
