<div style="padding:0px 150px;">
    <h3>Job Recommendations based on your Activity</h3>

    <br>
    <% @jobrecs.ResponseRecommendJob.RecommendJobResults.RecommendJobResult.each do |job| %>
        <%= link_to job.Title , jobdetailview_path(:jobDID => job.JobDID), :style => 'padding:5px;' %>
        <br>
        <hr>
    <% end %>
</div>
