<!DOCTYPE html>
<html>
<head>
  <title>Raspberry Jobs</title>
</head>
<body>
    <div style="background: url('http://img.icbdr.com/images/UK/mainBgCamp.png') no-repeat scroll 50% center #FFFFFF;
    height:440px; ">
      <br><br><br>
      <div style="margin-left: 220px; margin-top:80px; background:white; width:450px;height:220px; ">
        <h3>Start your job search</h3>
        <input type="text" style="width:120px;" >
        <input type="text" style="width:120px;" >
        <button type="button" style="margin-top:-10px;">Find Jobs!</button>
        <br>
        <h4>Top Jobs in Cities</h4>

        <div>
          <ul style="width:200px; float:left;">
            <li><a href="#">Admin &amp; Secretarial</a></li>
            <li><a href="#">Catering &amp; Hospitality</a></li>
            <li><a href="#">Construction</a></li>
            <li><a href="#">Customer Service</a></li>
          </ul>
          <ul style="width:200px; float:left;">
            <li><a href="#">Admin &amp; Secretarial</a></li>
            <li><a href="#">Catering &amp; Hospitality</a></li>
            <li><a href="#">Construction</a></li>
            <li><a href="#">Customer Service</a></li>
          </ul>
        </div>
      </div>
    </div>

</body>
</html>
