<!DOCTYPE html>
<html>
<head>
  <title>Raspberry Jobs</title>
</head>
<body>
    <div style="background: url('http://img.icbdr.com/images/UK/mainBgCamp.png') no-repeat scroll 50% center #FFFFFF;
    height:440px; ">
      <br><br><br>
      <div style="margin-left: 220px; margin-top:80px; background:white; width:450px; ">
        <h3>Start your job search</h3>
        <input type="text" style="width:120px;" >
        <input type="text" style="width:120px;" >
        <button type="button" style="margin-top:-10px;">Find Jobs!</button>
        <br>
        <h4>Top Jobs in Cities</h4>
        <a href="/Jobs/Sector/Admin-Secretarial/">Admin &amp; Secretarial</a>
        <a href="/Jobs/Sector/Catering-Hospitality/">Catering &amp; Hospitality</a>
        <a href="/Jobs/Sector/Construction/">Construction</a>
        <a href="/Jobs/Sector/Customer-Service/">Customer Service</a>
      </div>
    </div>

</body>
</html>
